*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
     background-image: radial-gradient( rgb(9, 156, 234), rgb(15, 44, 160));
}
.naglowek{
    display: flex;
    justify-content: center;
    flex-direction: row;
  
}
.graj{
  cursor: pointer;
    width: 6vmin;
    height: 4vh;
    display: flex;
  justify-content: center;
  align-items: center;
}
.graj1{
    cursor: pointer;
    width: 16.2vmin;
    height: 4vh;
    display: flex;
  justify-content: center;
  align-items: center;
}
.graj2{
    cursor: pointer;
    width: 13.5vmin;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graj3{
    cursor: pointer;
    width: 8.6vmin;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graj4{
    cursor: pointer;
    width: 21.2vmin;
    height: 4vh;
    display: flex;
  justify-content: center;
  align-items: center;
}
.graj5{
    cursor: pointer;
    width: 9.2vmin;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graj6{
    cursor: pointer;
    width: 9.5vmin;
    height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graj:hover{
    
    color: rgb(7, 0, 75);
background-color: white;
}
.graj1:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.graj2:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.graj3:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.graj4:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.graj5:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.graj6:hover{
    color: rgb(7, 0, 75);
    background-color: white;
}
.odstepy{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 150vmin;
    display: flex;
    margin-top: 2vh;
    font-weight: bold;
    font-family: sans-serif;
 
}
aside{
    width: 20%;
    height: 91.6vh;
    background-color: rgba(13, 49, 166, 0.397);
    float: right;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.skin{
    margin-left: 4vmin;
   align-items: center;
   justify-content: space-between;
    width: 53.5vmin;
    display: flex;
    flex-direction: row;
}
.emotion{
    display: flex;
    flex-direction: row;
}
.paint{
    display: flex;
    flex-direction: row;
}
.ogol{
    display: flex;
    flex-direction: row;
}
.skin1{

    width: 10vmin;
    height: 12vh;
}
.oso{
    width: 10vmin;
    height: 12vh;
}
.plecak{
    width: 10vmin;
    height: 12vh;
}
.kil{
    width: 10vmin;
    height: 12vh;
}
.lot{
    width: 10vmin;
    height: 12vh;
}
.spad{
    width: 10vmin;
    height: 12vh;
}
.emotion{
    margin-top: 0.5vh;
    margin-left: 4vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45.5vmin;
}
.dance1{
    width: 7vmin;
    height: 9vh;
}
.paint{
    margin-top: 0.2vh;
    margin-left: 4vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53.5vmin;
}
.mal{
    width: 7vmin;
    height: 9vh;
}
.ogol{
    margin-top: 0.2vh;
    margin-left: 4vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22.5vmin;
}
.baner{
    width: 7vmin;
    height: 9vh;
}
.musc{
    width: 7vmin;
    height: 9vh;
}
.ekr{
    width: 7vmin;
    height: 9vh;
}
.dol{
  
   display: flex;
 justify-content: flex-start;
   background-color: rgb(2, 0, 106);
    width: 100%;
    height: 8.4vh;
}
.chat{
   
    background-color: rgb(1, 0, 78);
    border: none;
    width: 60vmin;
    height: 6vh;
    color: yellow;
    font-weight:bold;
    font-size: 1.5vmin;
}
span{
    font-size: 3vh;
    color: rgb(135, 236, 255);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tekst1{
    font-size: 2vh;
    color: rgb(91, 190, 255);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tekst{
    margin-top: 8vh;
    display: flex;
    justify-content: space-between;
    width: 75vmin;
}
.arrow{
    margin-left: 4vmin;
    float: left;
    color: rgb(80, 209, 247);
    width: 6vmin;
    height: 6vh;
}
.znaj{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 5vmin;
    height: 3vh;
    background-color: rgb(8, 0, 146);
    border: 3px solid rgb(8, 72, 244);
    color: rgb(20, 196, 255);
  justify-content: center;
  align-items: center;
  transform: translateX(-5px);
}
.aside2{
  display: flex;
  justify-content: space-between;
 

 }
 .ocs3{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    
     
 }
  .option{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 0, 146);
    border: 3px solid rgb(8, 72, 244);
color: rgb(20, 196, 255);
width: 6vmin;
height: 4vh;
}
.vdolc{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 12vmin;
     height: 4vh;
     background-color: rgb(8, 0, 146);
     border: 3px solid rgb(8, 72, 244);
 color: rgb(20, 196, 255);
 font-size: 3vmin;
 font-weight: bold;
 font-family: sans-serif;
 
 
 }
 .vdolc2{
    height: 4vh;
    mix-blend-mode: multiply;
    
}

.line{
    width: 3.5vmin;
    height: 3.5vh;
    margin-top: 0.3vh;
    }
    .aside3{
       
         float: right;
          height: 94vh;
          width: 35vmin;
        
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      .wczytaj{
          display: flex;
          justify-content: center;
          align-items: center;
           margin-top: 2vh;
          color: rgb(56, 210, 255);
          background-color: rgb(0, 122, 227);
          width: 27vmin;
          font-family: sans-serif;
          font-weight: bold;
          text-align: center;
          height: 5vh;
          
          border: 0.7vmin solid rgb(56, 210, 255);
      }
      .wczytaj1{
          margin-top: 1vh;
          color: rgb(56, 210, 255);
          background-color: rgb(0, 122, 227);
          width: 27vmin;
          font-family: sans-serif;
          font-weight: bold;
          text-align: center;
          height: 5vh;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.7vmin solid rgb(56, 210, 255);
      }
      .wczytaj2{
          margin-top: 1vh;
          color: rgb(56, 210, 255);
          font-family: sans-serif;
          background-color: rgb(0, 122, 227);
          width: 27vmin;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          text-align: center;
          height: 5vh;
          border: 0.7vmin solid rgb(56, 210, 255);
      }
      .domys{
        color: rgb(73, 179, 255);
      font-size: 2.2vmin;
      font-weight: bold;
      text-align: center;
      font-family: sans-serif;
      
    }
    .ryba{
        float: right;
      
    }
    .fort{
        margin-top: -2vh;
        width: 40vmin;
        height: 60vh;
        
    }
    
    .niepospolity{
       
    color: rgb(53, 239, 255);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.green{
    margin-left: 1vmin;
    background-color: rgb(0, 67, 2);
    border: 0.6vmin solid rgb(76, 171, 33);
    color: rgb(92, 175, 41);
}

.duch{
    margin-top: 10px;
    margin-right: 5vmin;
    color: white;
    font-size: 4vmin;
}
@media only screen and (max-width:1335px){
    .odstepy{
        display: flex;
        flex-direction: column;
     
    margin-left: 4vmin;
    }
    .znaj{
       
        height: 6vh;
        width: 5vmin;
    }
    .vdolc{
        margin-left: 38.3vmin;
     margin-top: -20vh;
    }
    .option{
        margin-top: -20vh;
        margin-left: 0.5vmin;
    }
   .fort{
    margin-left: 5px;
    width: 15vmin;
    height: 25vh  ;
   }
   .ryba{
    
    display: flex;
    justify-content: flex-end;
    margin-top: 45vh;
    margin-right: 10.7vmin;
   }
   .tekst{
    margin-top: 30vh;
   }
   aside{
    
    height: 105vh;
   }

   .domys{
    margin-left: -18vmin;
    margin-top: 70vh;
    font-size: 1.5vmin;
   }
   .wczytaj{
    width: 14vmin;
    height: 3.5vh;
    margin-left: -18vmin;
}
.wczytaj1{
    width: 14vmin;
    height:3.5vh;
    margin-left: -18vmin;
   }
   .wczytaj2{
    width: 14vmin;
    height: 3.5vh;
    margin-left: -18vmin;
   }
}
